<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <div class='container my=5'>
          <h1 class=text-center>New bookmark</h1>
          <br>
          <%= simple_form_for [@list, @bookmark] do |f| %>
              <%= f.input :comment %>
              <%= f.association :movie, collection: Movie.all.order(:title), prompt: "select a movie" %>
              <%= f.submit "Submit", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
